<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-4 border-1 shadow-sm mb-5">
                <div class="card-body">
                    <h3>Add Todo</h3>
                    <form (ngSubmit)="submitForm($event)">
                        <div class="mt-4">
                            <label>Todo Title</label>
                            <input type="text" class="form-control" placeholder="Enter here"
                            name="title"
                            [(ngModel)]="todo.title"
                            >
                        </div>
                        <div class="mt-4">
                            <label>Todo Content</label>
                            <textarea rows="3" class="form-control"
                            name="contect"
                            [(ngModel)]="todo.content"
                            ></textarea>
                        </div>
                        <div class="container text-center mt-3">
                            <button type="submit" class="btn btn-success btn-sm">Add</button>
                            <button type="reset" class="btn btn-info btn-sm ms-2">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
